
<h1>Profiles</h1>
<hr>

<ul class="bulletremoval">
    <% @profiles.each do |profiles| %>
        <li>
            <%= link_to profiles.fullname, profile_path(profiles)%>
        </li>
    <% end %>
</ul>

<% if !logged_in? %>
<hr><br>
    <p> <%= link_to "Sign In", login_login_path %> <br>~<br> <%= link_to "Sign Up", new_profile_path %> </p>
<% end %>

