<h1>APP</h1>
<hr>

<h2>Profiles</h2>
<ul>
    <% @profiles.each do |profiles| %>
        <li>
            <%= link_to profiles.fullname, profile_path(profiles)%>
        </li>
    <% end %>
</ul>
<br>
<% if !logged_in? %>
<hr>
    <%= link_to "Log In", login_login_path %> <br>or <br><%= link_to "Sign Up", new_profile_path %>
<% end %>

