# <h1>What would you like to do with this post?</h1>
# <hr>
# <br>
# <p> <%= @post.post %> </p>

# <%= link_to "Edit", edit_post_path(@post) %>
# <p>or</p>

# <%= link_to "Delete", post_path(@post), method: :delete %>

